/*
Cores Padrões
Color 1: #170B30
Color 2: #C64FFF
Color 3: #7B3FFF
*/
body{
    margin: 20px;
    background-color: #170B30;
}
.container{
    display: flex;
    height: 500px;
    margin-top: 85px;
    justify-content:center;
    align-items:center;
}
.container .appform{
    width: 250px;
    height: 300px;
    background-color: #FFF;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.container .inputsform{
    margin-top:50px;   
    padding: 7px;   
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px 7px 7px 7px;
    width: 100%;
    height: 25px;
}
.buttonDV{
    background-color: #000;
    bottom: 50px;
}
.separator{
    margin-top: 25px;
    margin-bottom: 25px;
}